.tourist {
    background: url('../images/travel.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 1px;
    flex: 1 0 auto;

    &__wrap {
        margin-bottom: 200px;
        display: flex;
        flex-direction: row;

    }
    &__title {
        font: 400 36px/26px $title;
        text-align: center;
        margin: 120px auto 100px ;
    }

    &__info {
        background: #333333;
        font-family: $font;
        padding: 50px 60px;
    }

    &__info-title {
        font-size: 20px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    &__text {
        font-size: 16px;
    }

    &__icon {
        color: $lblue;
        @include pos(relative, $t: -8px);
        font-size: 18px;
    }
    &__pic {
        display: flex;
    }

    &__img {
        max-width: none;
    }
}